.App {
  text-align: center;
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

.logo {
  height: 75vmin;
  max-height: 400px;
  max-width: 750px;
  overflow: hidden;
  width: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
}

button:focus {
  outline: none;
}
