.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
}

.App-header {
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
