.App {
  text-align: center;
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 75vmin;
}

* {
  margin: 0;
  padding: 0;
}
